#LINK{
  font-size: 60px;
}
body{
  background: url("baby2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
     color:blue;


}
p{
  color:blue;
    font-size: 70;
}
