#LINK{
  font-size: 60px;
}
body{
  background: url("baby2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
text-shadow: 2px 2px #FF0000;

}
p{
text-shadow: 2px 2px #FF0000;
    font-size: 70;
}
