#LINK{
  font-size: 60px;
}
body{
  background: url("baby2.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   text-shadow: 2px 2px black;

}
p{
    color: white;
    text-shadow: 2px 2px black;
    font-size: 70;
}
